{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <h1>Transaction {{ object.trans_id }} reverse</h1>
    <form action="" method="post">
    {% csrf_token %}
        <div class="errors">
            <label for="reverse_amount">
                Reversal amount:
            </label>
            <input id="reverse_amount" type="text" name="reverse_amount" value="{{ object.amount }}" />

            <input type="submit" value="{% trans "Reverse transaction" %}" class="deletebutton" />

        </div>
    </form>
    <h2>
        {% blocktrans %}NB! You have only ONE chance to reverse a transaction. Amount is in minimal units.{% endblocktrans %}
    </h2>
{% endblock %}