{% load i18n %}
<div class="submit-row">
    {% if show_reverse_link %}
    <p class="deletelink-box"><a href="reverse/" class="deletelink" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Reverse transaction" %}</a></p>
    {% endif %}
</div>
